[Desktop Entry]
Name=System Designer
Comment=Recursive systems design with typed interfaces
Type=Application
Exec=system-designer %f
Icon=system-designer
StartupWMClass=system-designer
Terminal=false
Categories=Development;Engineering;
StartupNotify=true
